<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Travel App</title>
</head>

<body>
	<header>
		<h1>Travel App</h1>
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<section class="tripSearch">
			<form>
				<label for="tripDestination"> Where does the trip go</label></br>
				<input type="text" id="tripDestination" name="tripDestination">
				<label for="tripDate"> When will you go</label></br>
				<input type="date" id="tripDate" name="tripDate">
				<input type="button" id="tripInputButton" name="tripInputButton">
			</form>
		</section>

		<section class="tripGrid">

			<article class="tripCard">
				<p class="tripPic"></p>
				<p class="name"></p>
				<p class="tripDate"></p>

			</article>

		</section>
	</main>



	<footer>
		<p> Travel App</p>
	</footer>
</body>

</html>