<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Travel App</title>
</head>

<body>
	<header>
		<h1>Travel App</h1>
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li> <button type = 'button' id ='storageClear'>clear</button></li>
			</ul>
		</nav>
	</header>

	<main id="mainGrid">
		<section >
			<form id="tripSearchGrid">
				<div class="formColumn">
					<label for="tripDestination"> Where is the trip going</label>
				<input type="text" id="tripDestination" name="tripDestination">
			</div>
				<div class="formColumn"><label for="tripDate"> When is the trip</label>
				<input type="date" id="tripDate" name="tripDate">
			</div>
				<div class="formColumn">
					<input type="submit" value="submit" onclick="return Client.handleNewTravel(event)" onsubmit="return Client.handleNewTravel(event)">
				</div>
				
			</form>
		</section>

		<section id="tripGrid">
			<!-- section for adding tripCards to -->
		</section>
	</main>



	<footer>
		<p> Travel App</p>
	</footer>

	<!-- <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script> -->

</body>

</html>