<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Travel App</title>
</head>

<body>
	<header>
		<h1>Travel App</h1>
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
			</ul>
		</nav>
	</header>

	<main id="mainGrid">
		<section >
			<form id="tripSearchGrid">
				<div class="formColumn">
					<label for="tripDestination"> Where is the trip going</label>
				<input type="text" id="tripDestination" name="tripDestination">
			</div>
				<div class="formColumn"><label for="tripDate"> When is the trip</label>
				<input type="date" id="tripDate" name="tripDate">
			</div>
				<div class="formColumn">
					<button type="button"></button>
				</div>
				
			</form>
		</section>

		<section class="tripGrid">

			<article class="tripCard">
				<p class="tripPic"> <img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2018/04/10/13/tokyo-main.jpg?width=1200" alt="Tokyo" width="300px" height="300px"></p>
				<p class="name">example</p>
				<p class="tripDate">example date</p>

			</article>
			<article class="tripCard">
				<p class="tripPic"> <img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2018/04/10/13/tokyo-main.jpg?width=1200" alt="Tokyo" width="300px" height="300px"></p>
				<p class="name">example</p>
				<p class="tripDate">example date</p>

			</article>
			<article class="tripCard">
				<p class="tripPic"> <img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2018/04/10/13/tokyo-main.jpg?width=1200" alt="Tokyo" width="300px" height="300px"></p>
				<p class="name">example</p>
				<p class="tripDate">example date</p>

			</article>
			<article class="tripCard">
				<p class="tripPic"> <img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2018/04/10/13/tokyo-main.jpg?width=1200" alt="Tokyo" width="300px" height="300px"></p>
				<p class="name">example</p>
				<p class="tripDate">example date</p>

			</article>
			<article class="tripCard">
				<p class="tripPic"> <img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2018/04/10/13/tokyo-main.jpg?width=1200" alt="Tokyo" width="300px" height="300px"></p>
				<p class="name">example</p>
				<p class="tripDate">example date</p>

			</article>
			

		</section>
	</main>



	<footer>
		<p> Travel App</p>
	</footer>
</body>

</html>